In [2]:
import numpy as np 
import pandas as pd
import warnings
warnings.simplefilter("ignore")
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [3]:
dataset=pd.read_csv("data.csv")
dataset.head()

,정체,기준시간,기준시,기준일,VDS_ID,요일명,지점이정,노드명,도로이정,노선번호,도로명,교통량,평균속도
0,0,1,130,20210105,0500VDS18600,화요일,224.6,강릉JC,234.40,500,영동선,5,5.00
1,0,2,230,20210105,0500VDS08200,화요일,93.2,여주IC,94.47,500,영동선,1,5.00
2,0,3,315,20210105,0500VDS08200,화요일,93.2,여주IC,94.47,500,영동선,7,5.41
3,0,5,545,20210105,0500VDS18600,화요일,224.6,강릉JC,234.40,500,영동선,2,5.50
4,0,1,115,20210105,0500VDS08200,화요일,93.2,여주IC,94.47,500,영동선,8,5.50

In [4]:
dataset.isnull().sum()

정체        0
기준시간      0
기준시       0
기준일       0
VDS_ID    0
요일명       0
지점이정      0
노드명       0
도로이정      0
노선번호      0
도로명       0
교통량       0
평균속도      0
dtype: int64

In [5]:
dataset.describe()

,정체,기준시간,기준시,기준일,지점이정,도로이정,노선번호,교통량,평균속도
count,99230.000000,99230.000000,99230.000000,99230.0,99230.000000,99230.000000,99230.000000,99230.000000,99230.000000
mean,0.987312,11.490275,1171.520558,20210105.0,173.598108,173.562646,190.711881,320.542800,94.580359
std,0.111923,6.930660,693.271009,0.0,108.709723,108.888954,236.416161,322.474043,16.668438
min,0.000000,0.000000,0.000000,20210105.0,1.300000,0.200000,10.000000,1.000000,5.000000
25%,1.000000,5.000000,545.000000,20210105.0,84.800000,88.290000,10.000000,94.000000,87.470000
50%,1.000000,11.000000,1145.000000,20210105.0,162.300000,160.010000,10.000000,200.000000,93.790000
75%,1.000000,18.000000,1800.000000,20210105.0,242.400000,248.310000,500.000000,439.000000,99.850000
max,1.000000,23.000000,2345.000000,20210105.0,415.300000,416.050000,500.000000,2042.000000,199.980000

In [7]:
X=dataset.drop('정체',axis=1) #Predictors
y=dataset['정체'] #Response
X.head()

,기준시간,기준시,기준일,VDS_ID,요일명,지점이정,노드명,도로이정,노선번호,도로명,교통량,평균속도
0,1,130,20210105,0500VDS18600,화요일,224.6,강릉JC,234.40,500,영동선,5,5.00
1,2,230,20210105,0500VDS08200,화요일,93.2,여주IC,94.47,500,영동선,1,5.00
2,3,315,20210105,0500VDS08200,화요일,93.2,여주IC,94.47,500,영동선,7,5.41
3,5,545,20210105,0500VDS18600,화요일,224.6,강릉JC,234.40,500,영동선,2,5.50
4,1,115,20210105,0500VDS08200,화요일,93.2,여주IC,94.47,500,영동선,8,5.50

In [8]:
from sklearn.preprocessing import LabelEncoder
Encoder_X = LabelEncoder() 
for col in X.columns:
    X[col] = Encoder_X.fit_transform(X[col])
Encoder_y=LabelEncoder()
y = Encoder_y.fit_transform(y)

In [9]:
X.head()

   기준시간  기준시  기준일  VDS_ID  요일명  지점이정  노드명  도로이정  노선번호  도로명  교통량  평균속도
0     1    6    0    1039    0   383    0    65     1    1    4     0
1     2   10    0     920    0   147   63    36     1    1    0     0
2     3   13    0     920    0   147   63    36     1    1    6     1
3     5   23    0    1039    0   383    0    65     1    1    1     2
4     1    5    0     920    0   147   63    36     1    1    7     2

In [10]:
X=pd.get_dummies(X,columns=X.columns,drop_first=True)
X.head()

,기준시간_1,기준시간_2,기준시간_3,기준시간_4,기준시간_5,기준시간_6,기준시간_7,기준시간_8,기준시간_9,기준시간_10,...,평균속도_8574,평균속도_8575,평균속도_8576,평균속도_8577,평균속도_8578,평균속도_8579,평균속도_8580,평균속도_8581,평균속도_8582,평균속도_8583
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)

X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

In [14]:
def visualization_train(model):
    sns.set_context(context='notebook',font_scale=2)
    plt.figure(figsize=(16,9))
    from matplotlib.colors import ListedColormap
    X_set, y_set = X_train, y_train
    X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
    plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.6, cmap = ListedColormap(('red', 'green')))
    plt.xlim(X1.min(), X1.max())
    plt.ylim(X2.min(), X2.max())
    for i, j in enumerate(np.unique(y_set)):
        plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                    c = ListedColormap(('red', 'green'))(i), label = j)
    plt.title("%s Training Set" %(model))
    plt.xlabel('PC 1')
    plt.ylabel('PC 2')
    plt.legend()
def visualization_test(model):
    sns.set_context(context='notebook',font_scale=2)
    plt.figure(figsize=(16,9))
    from matplotlib.colors import ListedColormap
    X_set, y_set = X_test, y_test
    X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                         np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
    plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
                 alpha = 0.6, cmap = ListedColormap(('red', 'green')))
    plt.xlim(X1.min(), X1.max())
    plt.ylim(X2.min(), X2.max())
    for i, j in enumerate(np.unique(y_set)):
        plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                    c = ListedColormap(('red', 'green'))(i), label = j)
    plt.title("%s Test Set" %(model))
    plt.xlabel('PC 1')
    plt.ylabel('PC 2')
    plt.legend()

In [18]:
from sklearn.model_selection import cross_val_predict, cross_val_score
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [19]:
def print_score(classifier,X_train,y_train,X_test,y_test,train=True):
    if train == True:
        print("Training results:\n")
        print('Accuracy Score: {0:.4f}\n'.format(accuracy_score(y_train,classifier.predict(X_train))))
        print('Classification Report:\n{}\n'.format(classification_report(y_train,classifier.predict(X_train))))
        print('Confusion Matrix:\n{}\n'.format(confusion_matrix(y_train,classifier.predict(X_train))))
        res = cross_val_score(classifier, X_train, y_train, cv=10, n_jobs=-1, scoring='accuracy')
        print('Average Accuracy:\t{0:.4f}\n'.format(res.mean()))
        print('Standard Deviation:\t{0:.4f}'.format(res.std()))
    elif train == False:
        print("Test results:\n")
        print('Accuracy Score: {0:.4f}\n'.format(accuracy_score(y_test,classifier.predict(X_test))))
        print('Classification Report:\n{}\n'.format(classification_report(y_test,classifier.predict(X_test))))
        print('Confusion Matrix:\n{}\n'.format(confusion_matrix(y_test,classifier.predict(X_test))))

In [30]:
from sklearn.naive_bayes import GaussianNB as NB

classifier = NB()
classifier.fit(X_train,y_train)

GaussianNB()

In [31]:
print_score(classifier,X_train,y_train,X_test,y_test,train=True)

Training results:

Accuracy Score: 0.9769

Classification Report:
              precision    recall  f1-score   support

           0       0.03      0.02      0.03       862
           1       0.99      0.99      0.99     68599

    accuracy                           0.98     69461
   macro avg       0.51      0.51      0.51     69461
weighted avg       0.98      0.98      0.98     69461


Confusion Matrix:
[[   21   841]
 [  764 67835]]

Average Accuracy:	0.9771

Standard Deviation:	0.0018

In [32]:
print_score(classifier,X_train,y_train,X_test,y_test,train=False)

Test results:

Accuracy Score: 0.9786

Classification Report:
              precision    recall  f1-score   support

           0       0.02      0.01      0.01       397
           1       0.99      0.99      0.99     29372

    accuracy                           0.98     29769
   macro avg       0.50      0.50      0.50     29769
weighted avg       0.97      0.98      0.98     29769


Confusion Matrix:
[[    4   393]
 [  245 29127]]